# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.venv/
venv/

# Binaries and libraries
*.dll
*.so
*.dylib
*.exe
*.pyd
*.lib
*.db
*.zip

# Vivado temp files (keep runs/impl for bitstream output)
Audio_Controller_Logic/.Xil/

# Tools - third party distributions
tools/memprocfs/.venv/
tools/memprocfs/dist/
tools/memprocfs/*.zip

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store
